@font-face {
    font-family: 'Myriad Hebrew';
    src: url('../../../css/fonts/MyriadHebrew-Regular.eot');
    src: url('../../../css/fonts/MyriadHebrew-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../../css/fonts/MyriadHebrew-Regular.woff2') format('woff2'),
        url('../../../css/fonts/MyriadHebrew-Regular.woff') format('woff'),
        url('../../../css/fonts/MyriadHebrew-Regular.ttf') format('truetype'),
        url('../../../css/fonts/MyriadHebrew-Regular.svg#MyriadHebrew-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'fontello';
    src: url('../../../css/fonts/fontello.eot');
    src: url('../../../css/fonts/fontello.eot#iefix') format('embedded-opentype'),
         url('../../../css/fonts/fontello.woff2') format('woff2'),
         url('../../../css/fonts/fontello.woff') format('woff'),
         url('../../../css/fonts/fontello.ttf') format('truetype'),
         url('../../../css/fonts/fontello.svg#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
  }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    font-family: 'Myriad Hebrew' !important;
}
table{
    margin-bottom: 0;
}
html {
    border-bottom: 13px solid var(--blue);
}
body{
    background-color: var(--background);
}
.header{
    background-color: var(--blue);
    -moz-box-shadow: -1px 2px 5px var(--shadow);
    -webkit-box-shadow: -1px 2px 5px var(--shadow);
    box-shadow: -1px 2px 5px var(--shadow);
    height: 13px;
    width: 100%;
    float: left;
}
#footer .copyright{
    margin-bottom: 0;
}
#wrapper{
    padding: 50px 4% 0;
    display: block;
}
#nav{
    background-color: var(--grey);
    width: 100%;
    height: 50px;
    /*padding: 8px 0;*/
    box-sizing: border-box;
    color: white;
    border-radius: 5px;
    -moz-box-shadow: -1px 2px 5px var(--shadow);
    -webkit-box-shadow: -1px 2px 5px var(--shadow);
    box-shadow: -1px 2px 5px var(--shadow);
    font-size: 20px;
}
#nav a{
    font-size: 20px;
    opacity: 1;
    margin: 15px calc(10% - 10px)
}
#nav a::after {
    border: none;
    -moz-transition: height .25s ease-in-out;
    -webkit-transition: height .25s ease-in-out;
    transition: height .25s ease-in-out;
    left: -50%;
    bottom: -17px;
    margin-left: 0;
    background-color: var(--blue);
    width: 200%;
}
#main{
    margin-top: 20px;
    overflow: visible;
    background-color: transparent;
}
#nav a.active::after {
    border:none;
    height: 5px;
    -moz-box-shadow: -1px 2px 5px var(--shadow);
    -webkit-box-shadow: -1px 2px 5px var(--shadow);
    box-shadow: -1px 2px 5px var(--shadow);
}

#main > .panel {
    float: left;
    padding: 0;
    margin-bottom: 20px;
}

#main > .panel.spacing {
    float: left;
    background-color: var(--background);
    padding: 10px 6.66%;
    border-radius: 5px;
    -moz-box-shadow: 0px 1px 10px var(--shadow);
    -webkit-box-shadow: 0px 1px 10px var(--shadow);
    box-shadow: 0px 1px 10px var(--shadow);
}
.DivAll{
    /*border-radius: 5px;
    -moz-box-shadow: 0px 1px 10px var(--shadow);
    -webkit-box-shadow: 0px 1px 10px var(--shadow);
    box-shadow: 0px 1px 10px var(--shadow);*/
    width: 100%;
    float: left;
    padding: 10px 0 0 0;
}
#DivSearchBox {
    height: 20px;
    float: left;
    width: 92%;
}
#main > .panel.intro {
    display: block;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 5px;
}
.H1Title{
    margin: 10px auto 8px;
    font-size: 38px;
    color: var(--blue);
    line-height: 45px;
}
.rules tr{
    background-color: var(--background);
    padding: 25px 15px 10px 12px;
    border-radius: 5px;
    -moz-box-shadow: 0px 1px 10px var(--shadow);
    -webkit-box-shadow: 0px 1px 10px var(--shadow);
    box-shadow: 0px 1px 10px var(--shadow);
    margin-top: 16px;
    float: left;
    width: 100%;
    color: var(--greyText);
}
.rules tr a{
    color: var(--greyText);
    text-decoration: none;
    -moz-transition: color .25s ease-in-out;
    -webkit-transition: color .25s ease-in-out;
    transition: color .25s ease-in-out;
}
.rules tr a:hover{
    color: var(--blue);
}
.rules tr:first-child{
    padding: 10px 15px 10px 12px;
    color: var(--blue);
    margin-bottom: 16px;
}
.rules th, .rules td{
    float: left;
    margin-right: 4%;
    font-weight: bold;
}
.rules th{
    font-size: 20.32px;
}
.rules td{
    font-size: 15.24px;
    width: 14.8%;
}
.rules th:first-child, .rules td:first-child{
    float: right;
    margin-right: 0;
    width: 58%;
    text-align: right;
}
.BRBlind2RuletoggleOff, .BRBlind2RuletoggleOn, .BRBlind2RulePowerOff, .BRBlind2RulePowerOn{
    background: none;;
}
.BRBlind2RuletoggleOff, .BRBlind2RulePowerOff{
    color: var(--greyText);
}
.BRBlind2RuletoggleOn, .BRBlind2RulePowerOn{
    color: var(--green);
}
.formInput {
    position: relative;
    font-family: 'Montserrat', sans-serif !important;
    text-align: left;
    float: left;
    width: 100%;
}
.formInput input[type="text"], 
.formInput input[type="password"], 
.formInput input[type="button"]{
    -moz-box-shadow: 0px 1px 10px var(--shadow);
    -webkit-box-shadow: 0px 1px 10px var(--shadow);
    box-shadow: 0px 1px 10px var(--shadow);
    border-radius: 5px;
    height: 42px;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif !important;

}
.formInput input[type="text"], .formInput input[type="password"]{
    margin-bottom: 16px;
    padding-left: 33px;
    box-sizing: border-box;
    color: var(--greyText);
    text-align: left;
}
.formInput input[type="button"]{
    background-color: var(--buttonGrey);
    line-height: 36px;
    margin-top: 25px;
}
.formInput i.icon, .formInput i.icon-alan{
    color: var(--grey);
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 1;
    left: 1vh;
    top: 14px;
    font-size: 15px;
    text-align: center;
}
.formInput i.icon-alan{
    top: 5px;
}
input[type="checkbox"] {
    width:17px;
    height:17px;
    margin-left: -17px;
    margin-top: 21px;
}
input[type="checkbox"] + label{
    float: left;
    margin: none;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:17px;
    height:17px;
    vertical-align:middle;
    background:url("../../../images/checkboxes.png") left top no-repeat;
    margin: 22px 3px 0 7px;
    cursor:pointer;
    transition: none;
}
input[type="checkbox"]:checked + label span {
    background:url("../../../images/checkboxes.png") -17px top no-repeat;
}
.formInput span{
    margin-top: 15px;
}
.formInput a, .formInput span{
    text-decoration: none;
    color: var(--linkGrey);
    font-size: 13px;
    float: left;
    padding-left: 7px;
    font-family: 'Montserrat', sans-serif !important;
    -moz-transition: .25s ease-in-out;
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
.formInput a:hover{
    text-decoration: underline;
}
.message {
    width: 100%;
    float: left;
    font-weight: bold;
    color: var(--greyText);
    margin-top: 13px;
}
.message .icon {
    float: right;
}
.message span {
    float: left;
    width: calc(100% - 36px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.message.open{
    color: var(--grey);
    font-weight: normal;
}
#DivSearch .refresh {
    float: right;
    /*margin-left: 5px;*/
}
#DivSearch {
    padding: 0 10px;
    border-radius: 5px;
    box-sizing: border-box;
    float: left;
    width: 100%;
    margin-bottom: 15px;
    -moz-box-shadow: 0px 1px 10px var(--shadow);
    -webkit-box-shadow: 0px 1px 10px var(--shadow);
    box-shadow: 0px 1px 10px var(--shadow);
}
#DivSearch .fa-search {
    float: right;
}
#DivSearch #TxtSearch {
    width: calc(100% - 37px);
    float: left;
    border: none;
    background-color: transparent;
    height: 30px;
    outline: none;
    border: none;
}

#DivSearch .icon.solid::before{
    font-size: 15px;
    color: var(--linkGrey)
}
#main > .panel.intro{
    display: block;
}
.blindContent {
    float: left;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 10px 0 10px 2%;
    -moz-box-shadow: 0px 1px 10px var(--shadow);
    -webkit-box-shadow: 0px 1px 10px var(--shadow);
    box-shadow: 0px 1px 10px var(--shadow);
    box-sizing: border-box;
    height: 70px;
}
.blindContent > div, .blindContent > a {
    float: left;
}
.blindContent.blindSelected{
    height: 47px;
}
.blindContent.blindSelected .divPercent, .blindContent.blindSelected .blind{
    display: none;
}

.blindContent.blindSelected .blindSection {
    width: 100%;
}
.blindContent.blindSelected .blindName {
    width: 50%;
    margin-right: 5%;
}
.blindContent.blindSelected .blindNameSection {
    margin-right: 5%;
}

.divPercent {
    width: 22%;
    text-align: center;
    color: var(--greyText);
    font-weight: 500;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 19px;
    margin-top: 14px;  
    text-align: center;
}
.blindContent:hover .divPercent{
    color: var(--blue);
    font-size: 27px;
}
.blindContent.error .divPercent {
    color: var(--error);
}
.blindContent.error .blind::before{
    font-family: 'fontello';
    color: white;
    font-size: 25px;
    content: "\e894";
    width: 25px;
    height: 25px;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 11;
    text-shadow: 1px 1px var(--greyText);
}
.stateBlind {
    width: 100%;
    float: left;
    background-color: var(--blue);
}
.blind {
    position: relative;
    box-sizing: border-box;
    -moz-box-shadow: 0px 1px 10px var(--shadow);
    -webkit-box-shadow: 0px 1px 10px var(--shadow);
    box-shadow: 0px 1px 10px var(--shadow);
    overflow: hidden;
    height: 50px;
    width: 20%;
    float: left;
    margin: 0 5%;
}
.blind .stateBlind {
    position: absolute;
    height: 100%;
}
.blind.position0 .stateBlind { top: -100%;}
.blind.position1 .stateBlind, .blind.position2 .stateBlind, .blind.position3 .stateBlind, .blind.position4 .stateBlind, .blind.position5 .stateBlind { top: -95%;}
.blind.position6 .stateBlind, .blind.position7 .stateBlind, .blind.position8 .stateBlind, .blind.position9 .stateBlind, .blind.position10 .stateBlind  { top: -90%;}
.blind.position11 .stateBlind, .blind.position12 .stateBlind, .blind.position13 .stateBlind, .blind.position14 .stateBlind, .blind.position15 .stateBlind { top: -850%;}
.blind.position16 .stateBlind, .blind.position17 .stateBlind, .blind.position18 .stateBlind, .blind.position19 .stateBlind, .blind.position20 .stateBlind { top: -80%;}
.blind.position21 .stateBlind, .blind.position22 .stateBlind, .blind.position23 .stateBlind, .blind.position24 .stateBlind, .blind.position25 .stateBlind { top: -75%;}
.blind.position26 .stateBlind, .blind.position27 .stateBlind, .blind.position28 .stateBlind, .blind.position29 .stateBlind, .blind.position30 .stateBlind { top: -70%;}
.blind.position31 .stateBlind, .blind.position32 .stateBlind, .blind.position33 .stateBlind, .blind.position34 .stateBlind, .blind.position35 .stateBlind { top: -65%;}
.blind.position36 .stateBlind, .blind.position37 .stateBlind, .blind.position38 .stateBlind, .blind.position39 .stateBlind, .blind.position40 .stateBlind { top: -60%;}
.blind.position41 .stateBlind, .blind.position42 .stateBlind, .blind.position43 .stateBlind, .blind.position44 .stateBlind, .blind.position45 .stateBlind { top: -55%;}
.blind.position46 .stateBlind, .blind.position47 .stateBlind, .blind.position48 .stateBlind, .blind.position49 .stateBlind, .blind.position50 .stateBlind { top: -50%;}
.blind.position51 .stateBlind, .blind.position52 .stateBlind, .blind.position53 .stateBlind, .blind.position54 .stateBlind, .blind.position55 .stateBlind { top: -45%;}
.blind.position56 .stateBlind, .blind.position57 .stateBlind, .blind.position58 .stateBlind, .blind.position59 .stateBlind, .blind.position60 .stateBlind { top: -40%;}
.blind.position61 .stateBlind, .blind.position62 .stateBlind, .blind.position63 .stateBlind, .blind.position64 .stateBlind, .blind.position65 .stateBlind { top: -35%;}
.blind.position66 .stateBlind, .blind.position67 .stateBlind, .blind.position68 .stateBlind, .blind.position69 .stateBlind, .blind.position70 .stateBlind { top: -30%;}
.blind.position71 .stateBlind, .blind.position72 .stateBlind, .blind.position73 .stateBlind, .blind.position74 .stateBlind, .blind.position75 .stateBlind { top: -25%;}
.blind.position76 .stateBlind, .blind.position77 .stateBlind, .blind.position78 .stateBlind, .blind.position79 .stateBlind, .blind.position80 .stateBlind { top: -20%;}
.blind.position81 .stateBlind, .blind.position82 .stateBlind, .blind.position83 .stateBlind, .blind.position84 .stateBlind, .blind.position85 .stateBlind { top: -15%;}
.blind.position86 .stateBlind, .blind.position87 .stateBlind, .blind.position88 .stateBlind, .blind.position89 .stateBlind, .blind.position90 .stateBlind { top: -10%;}
.blind.position91 .stateBlind, .blind.position92 .stateBlind, .blind.position93 .stateBlind, .blind.position94 .stateBlind, .blind.position95 .stateBlind { top: -5%;}
.blind.position96 .stateBlind, .blind.position97 .stateBlind, .blind.position99 .stateBlind, .blind.position99 .stateBlind, .blind.position100 .stateBlind { top: 0%;}
.blindName {
    float: right !important;
    color: white;
    background-color: var(--blue);
    font-size: 16.57px;
    line-height: 20px;
    height: 25px;
    width: 100%;
    margin-top: 1px;
    margin-right: -2px;
    padding: 3px 6px 0 0;
    text-align: right;
    font-family: 'Montserrat', sans-serif !important;
}
.blindSection {
    float: right !important;
}
.blindNameSection {
    font-size: 17px;
    float: right;
    margin-right: 4px;
}
.blindSection {
    width: 48%;
    text-align: center;
}
.blindLetterSection {
    font-size: 15.5px;
    margin-right: 7px;
    font-family: 'Montserrat', sans-serif !important;
    float: right;
}
.blindSection {
    color: var(--greyText);
}
a.blindDown, a.blindUp {
    text-decoration: none;
    margin-top: 14px;
    width: 6%;
    position: relative;
}
a.blindDown::before, a.blindUp::before {
    font-family: 'fontello';
    color: var(--greyText);
    font-size: 20px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}
a.blindDown::before{
    content: "\e898";
}
a.blindUp::before{
    content: "\e899";
}
.icon-alan::before{
    font-family: 'fontello';
    font-style: normal;
}
.icon-home::before {
    content: "\e897";
}
.icon-unlock::before{
    content: "\e896";
}
.sides {
    float: left;
    padding: 0 5%;
    box-sizing: border-box;
    border-radius: 5px;
    -moz-box-shadow: 0px 1px 10px var(--shadow);
    -webkit-box-shadow: 0px 1px 10px var(--shadow);
    box-shadow: 0px 1px 10px var(--shadow);
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 10px 5%;
    width: 100%;
}
select.side {
    width: 100%;
    padding-right: 28px;
    float: left;
    text-decoration: none;
    position: relative;
    color: var(--blue);
    font-weight: bold;
    font-size: 20px;
    box-sizing: border-box;
    border: none;
    background-color: var(--lightGrey);
    font-family: 'Myriad Hebrew' !important;
}
select.side option{
    font-family: 'Myriad Hebrew' !important;
}
#sidesASelect {
    width: 100%;
    border: none;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 21px;
    background-color: var(--lightGrey);
    display: none;
}
.side.minus::before, .sidelusicon::before {
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    color: var(--blue);
    position: absolute;
    font-weight: 700;
    color: var(--greyText);
    right: 5%;
    top: 60px;
    font-size: 20px;
}
.sidelusicon::before {
    content: "\f0fe";
}
.side.minus::before{
    content: "\f146";
}
/*blindpop*/
[type='range']#slideAngle::-webkit-slider-runnable-track { background: var(--slideAngle)}
#slideAngle.input-range {background: var(--slideAngle)}
[type='range']#slideAngle::-webkit-slider-thumb { background: var(--slideAngle);}
[type='range']#slideAngle::-moz-range-thumb {background: var(--slideAngle);}
[type='range']#slideAngle::-ms-thumb {background: var(--slideAngle);}
[type='range']#slidePosition::-webkit-slider-runnable-track { background: var(--slidePosition)}
#slidePosition.input-range {background: var(--slidePosition);}
[type='range']#slidePosition::-webkit-slider-thumb { background: var(--slidePosition)}
[type='range']#slidePosition::-moz-range-thumb {background: var(--slidePosition)}
[type='range']#slidePosition::-ms-thumb {background: var(--slidePosition)}
[type='range'] {
    margin: .25em auto;
    display: block;
    width: 140px;
    height: 2px;
    background: transparent;
    font: 1em arial sans-serif;
    transform: rotate(90deg);
  }
  [type='range'], [type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  [type='range']::-webkit-slider-runnable-track {
    width: 140px;
    height: 2px;
  }
  [type='range']::-moz-range-track {
    width: 140px;
    height: 2px;

  }
  [type='range']::-ms-track {
    width: 140px;
    height: 2px;

  }
  [type='range']::-moz-range-progress {
    min-width: 140px;
    height: 2px;

  }
  [type='range']::-ms-fill-lower {
    min-width: 140px;
    height: 2px;

  }
  [type='range']::-webkit-slider-thumb {
    margin-top: -6px;
    border: none;
    padding: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }
  [type='range']::-moz-range-thumb {
    border: none;
    padding: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-top: -6px;
  }
  [type='range']::-ms-thumb {
    margin-top: 0;
    border: none;
    padding: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-top: -6px;
  }
/*blindpop2*/
/*blinds*/
#cuadro{
    width: 420px;
    height: 400px;
    margin: 100px auto;
}
#blindpopPosition{
    height: 100px;
    width: 32%;
    font-size: 9vw;
    box-sizing: border-box;
    float: left;
    padding: 20px 0 0 9%;
    text-align: center;
    margin-top: 63px;
    font-family: 'Montserrat', sans-serif !important;
    color: var(--greyText);
}
.blindDetail{
    width: 100%;
    height: 200px;
    -moz-box-shadow: 0px 1px 10px var(--shadow);
    -webkit-box-shadow: 0px 1px 10px var(--shadow);
    box-shadow: 0px 1px 10px var(--shadow);
    float: left;
    margin-bottom: 15px;
    display: none;
    padding-right: 20px;
}
#blindDetailTitle{
    text-align: left;
    height: 80px;
    width: 100%;
    float: left;
    background-color: var(--blue);
    color: var(--menuWhite);
    font-size: 27px;
    font-family: 'Montserrat', sans-serif !important;
    box-sizing: border-box;
    padding: 40px 40px 0 30px;
}
#blindDetailContent{
    box-sizing: border-box;
    position: relative;
    float: right;
    width: 50%;
    padding: 0 20px;
    margin: 15px calc(5% - 10px) 10px 7%;
    height: 170px;
}

#blindDetailTitle.Error::after {
    /*font-family: 'fontello';
    content: '\e894';
    color: #fff;
    float: right;
    margin-right: -6px;*/
}
#blindDetailTitle.Error {
    /*background-color: var(--red);*/
}
.blindpop{
    width: 100%;
    height: 100%;
    border: solid 5px #7d7d7d;
    float: left;
    overflow: hidden;
}
.blindContentpop{
    width: 100%;
    height: 100%;
    float: left;
}
.blind-row{
    background-color: #7d7d7d;
    float: left;
    width: 100%;
}
/*.position101 .blindContentpop{ margin-top: -0%; } .position100 .blindContentpop{ margin-top: -0%; }.position99 .blindContentpop{ margin-top: -1%; }.position98 .blindContentpop{ margin-top: -2%; }.position97 .blindContentpop{ margin-top: -3%; }.position96 .blindContentpop{ margin-top: -4%; }.position95 .blindContentpop{ margin-top: -5%; }.position94 .blindContentpop{ margin-top: -6%; }.position93 .blindContentpop{ margin-top: -7%; }.position92 .blindContentpop{ margin-top: -8%; }.position91 .blindContentpop{ margin-top: -9%; }.position90 .blindContentpop{ margin-top: -10%; }.position89 .blindContentpop{ margin-top: -11%; }.position88 .blindContentpop{ margin-top: -12%; }.position87 .blindContentpop{ margin-top: -13%; }.position86 .blindContentpop{ margin-top: -14%; }.position85 .blindContentpop{ margin-top: -15%; }.position84 .blindContentpop{ margin-top: -16%; }.position83 .blindContentpop{ margin-top: -17%; }.position82 .blindContentpop{ margin-top: -18%; }.position81 .blindContentpop{ margin-top: -19%; }.position80 .blindContentpop{ margin-top: -20%; }.position79 .blindContentpop{ margin-top: -21%; }.position78 .blindContentpop{ margin-top: -22%; }.position77 .blindContentpop{ margin-top: -23%; }.position76 .blindContentpop{ margin-top: -24%; }.position75 .blindContentpop{ margin-top: -25%; }.position74 .blindContentpop{ margin-top: -26%; }.position73 .blindContentpop{ margin-top: -27%; }.position72 .blindContentpop{ margin-top: -28%; }.position71 .blindContentpop{ margin-top: -29%; }.position70 .blindContentpop{ margin-top: -30%; }.position69 .blindContentpop{ margin-top: -31%; }.position68 .blindContentpop{ margin-top: -32%; }.position67 .blindContentpop{ margin-top: -33%; }.position66 .blindContentpop{ margin-top: -34%; }.position65 .blindContentpop{ margin-top: -35%; }.position64 .blindContentpop{ margin-top: -36%; }.position63 .blindContentpop{ margin-top: -37%; }.position62 .blindContentpop{ margin-top: -38%; }.position61 .blindContentpop{ margin-top: -39%; }.position60 .blindContentpop{ margin-top: -40%; }.position59 .blindContentpop{ margin-top: -41%; }.position58 .blindContentpop{ margin-top: -42%; }.position57 .blindContentpop{ margin-top: -43%; }.position56 .blindContentpop{ margin-top: -44%; }.position55 .blindContentpop{ margin-top: -45%; }.position54 .blindContentpop{ margin-top: -46%; }.position53 .blindContentpop{ margin-top: -47%; }.position52 .blindContentpop{ margin-top: -48%; }.position51 .blindContentpop{ margin-top: -49%; }.position50 .blindContentpop{ margin-top: -50%; }.position49 .blindContentpop{ margin-top: -51%; }.position48 .blindContentpop{ margin-top: -52%; }.position47 .blindContentpop{ margin-top: -53%; }.position46 .blindContentpop{ margin-top: -54%; }.position45 .blindContentpop{ margin-top: -55%; }.position44 .blindContentpop{ margin-top: -56%; }.position43 .blindContentpop{ margin-top: -57%; }.position42 .blindContentpop{ margin-top: -58%; }.position41 .blindContentpop{ margin-top: -59%; }.position40 .blindContentpop{ margin-top: -60%; }.position39 .blindContentpop{ margin-top: -61%; }.position38 .blindContentpop{ margin-top: -62%; }.position37 .blindContentpop{ margin-top: -63%; }.position36 .blindContentpop{ margin-top: -64%; }.position35 .blindContentpop{ margin-top: -65%; }.position34 .blindContentpop{ margin-top: -66%; }.position33 .blindContentpop{ margin-top: -67%; }.position32 .blindContentpop{ margin-top: -68%; }.position31 .blindContentpop{ margin-top: -69%; }.position30 .blindContentpop{ margin-top: -70%; }.position29 .blindContentpop{ margin-top: -71%; }.position28 .blindContentpop{ margin-top: -72%; }.position27 .blindContentpop{ margin-top: -73%; }.position26 .blindContentpop{ margin-top: -74%; }.position25 .blindContentpop{ margin-top: -75%; }.position24 .blindContentpop{ margin-top: -76%; }.position23 .blindContentpop{ margin-top: -77%; }.position22 .blindContentpop{ margin-top: -78%; }.position21 .blindContentpop{ margin-top: -79%; }.position20 .blindContentpop{ margin-top: -80%; }.position19 .blindContentpop{ margin-top: -81%; }.position18 .blindContentpop{ margin-top: -82%; }.position17 .blindContentpop{ margin-top: -83%; }.position16 .blindContentpop{ margin-top: -84%; }.position15 .blindContentpop{ margin-top: -85%; }.position14 .blindContentpop{ margin-top: -86%; }.position13 .blindContentpop{ margin-top: -87%; }.position12 .blindContentpop{ margin-top: -88%; }.position11 .blindContentpop{ margin-top: -89%; }.position10 .blindContentpop{ margin-top: -90%; }.position9 .blindContentpop{ margin-top: -91%; }.position8 .blindContentpop{ margin-top: -92%; }.position7 .blindContentpop{ margin-top: -93%; }.position6 .blindContentpop{ margin-top: -94%; }.position5 .blindContentpop{ margin-top: -95%; }.position4 .blindContentpop{ margin-top: -96%; }.position3 .blindContentpop{ margin-top: -97%; }.position2 .blindContentpop{ margin-top: -98%; }.position1 .blindContentpop{ margin-top: -99%; }.position0 .blindContentpop{ margin-top: -100%; }
.angle0 .blindContentpop .blind-row{ margin: 1% 0 0 0; height: 4%;}.angle1 .blindContentpop .blind-row{ margin: 1.03% 0 0 0; height: 3.97%;}.angle2 .blindContentpop .blind-row{ margin: 1.06% 0 0 0; height: 3.94%;}.angle3 .blindContentpop .blind-row{ margin: 1.09% 0 0 0; height: 3.91%;}.angle4 .blindContentpop .blind-row{ margin: 1.12% 0 0 0; height: 3.88%;}.angle5 .blindContentpop .blind-row{ margin: 1.15% 0 0 0; height: 3.85%;}.angle6 .blindContentpop .blind-row{ margin: 1.18% 0 0 0; height: 3.82%;}.angle7 .blindContentpop .blind-row{ margin: 1.21% 0 0 0; height: 3.79%;}.angle8 .blindContentpop .blind-row{ margin: 1.24% 0 0 0; height: 3.76%;}.angle9 .blindContentpop .blind-row{ margin: 1.27% 0 0 0; height: 3.73%;}.angle10 .blindContentpop .blind-row{ margin: 1.3% 0 0 0; height: 3.7%;}.angle11 .blindContentpop .blind-row{ margin: 1.33% 0 0 0; height: 3.67%;}.angle12 .blindContentpop .blind-row{ margin: 1.36% 0 0 0; height: 3.64%;}.angle13 .blindContentpop .blind-row{ margin: 1.39% 0 0 0; height: 3.61%;}.angle14 .blindContentpop .blind-row{ margin: 1.42% 0 0 0; height: 3.58%;}.angle15 .blindContentpop .blind-row{ margin: 1.45% 0 0 0; height: 3.55%;}.angle16 .blindContentpop .blind-row{ margin: 1.48% 0 0 0; height: 3.52%;}.angle17 .blindContentpop .blind-row{ margin: 1.51% 0 0 0; height: 3.49%;}.angle18 .blindContentpop .blind-row{ margin: 1.54% 0 0 0; height: 3.46%;}.angle19 .blindContentpop .blind-row{ margin: 1.57% 0 0 0; height: 3.43%;}.angle20 .blindContentpop .blind-row{ margin: 1.6% 0 0 0; height: 3.4%;}.angle21 .blindContentpop .blind-row{ margin: 1.63% 0 0 0; height: 3.37%;}.angle22 .blindContentpop .blind-row{ margin: 1.66% 0 0 0; height: 3.34%;}.angle23 .blindContentpop .blind-row{ margin: 1.69% 0 0 0; height: 3.31%;}.angle24 .blindContentpop .blind-row{ margin: 1.72% 0 0 0; height: 3.28%;}.angle25 .blindContentpop .blind-row{ margin: 1.75% 0 0 0; height: 3.25%;}.angle26 .blindContentpop .blind-row{ margin: 1.78% 0 0 0; height: 3.22%;}.angle27 .blindContentpop .blind-row{ margin: 1.81% 0 0 0; height: 3.19%;}.angle28 .blindContentpop .blind-row{ margin: 1.84% 0 0 0; height: 3.16%;}.angle29 .blindContentpop .blind-row{ margin: 1.87% 0 0 0; height: 3.13%;}.angle30 .blindContentpop .blind-row{ margin: 1.9% 0 0 0; height: 3.1%;}.angle31 .blindContentpop .blind-row{ margin: 1.93% 0 0 0; height: 3.07%;}.angle32 .blindContentpop .blind-row{ margin: 1.96% 0 0 0; height: 3.04%;}.angle33 .blindContentpop .blind-row{ margin: 1.99% 0 0 0; height: 3.01%;}.angle34 .blindContentpop .blind-row{ margin: 2.02% 0 0 0; height: 2.98%;}.angle35 .blindContentpop .blind-row{ margin: 2.05% 0 0 0; height: 2.95%;}.angle36 .blindContentpop .blind-row{ margin: 2.08% 0 0 0; height: 2.92%;}.angle37 .blindContentpop .blind-row{ margin: 2.11% 0 0 0; height: 2.89%;}.angle38 .blindContentpop .blind-row{ margin: 2.14% 0 0 0; height: 2.86%;}.angle39 .blindContentpop .blind-row{ margin: 2.17% 0 0 0; height: 2.83%;}.angle40 .blindContentpop .blind-row{ margin: 2.2% 0 0 0; height: 2.8%;}.angle41 .blindContentpop .blind-row{ margin: 2.23% 0 0 0; height: 2.77%;}.angle42 .blindContentpop .blind-row{ margin: 2.26% 0 0 0; height: 2.74%;}.angle43 .blindContentpop .blind-row{ margin: 2.29% 0 0 0; height: 2.71%;}.angle44 .blindContentpop .blind-row{ margin: 2.32% 0 0 0; height: 2.68%;}.angle45 .blindContentpop .blind-row{ margin: 2.35% 0 0 0; height: 2.65%;}.angle46 .blindContentpop .blind-row{ margin: 2.38% 0 0 0; height: 2.62%;}.angle47 .blindContentpop .blind-row{ margin: 2.41% 0 0 0; height: 2.59%;}.angle48 .blindContentpop .blind-row{ margin: 2.44% 0 0 0; height: 2.56%;}.angle49 .blindContentpop .blind-row{ margin: 2.47% 0 0 0; height: 2.53%;}.angle50 .blindContentpop .blind-row{ margin: 2.5% 0 0 0; height: 2.5%;}.angle51 .blindContentpop .blind-row{ margin: 2.53% 0 0 0; height: 2.47%;}.angle52 .blindContentpop .blind-row{ margin: 2.56% 0 0 0; height: 2.44%;}.angle53 .blindContentpop .blind-row{ margin: 2.59% 0 0 0; height: 2.41%;}.angle54 .blindContentpop .blind-row{ margin: 2.62% 0 0 0; height: 2.38%;}.angle55 .blindContentpop .blind-row{ margin: 2.65% 0 0 0; height: 2.35%;}.angle56 .blindContentpop .blind-row{ margin: 2.68% 0 0 0; height: 2.32%;}.angle57 .blindContentpop .blind-row{ margin: 2.71% 0 0 0; height: 2.29%;}.angle58 .blindContentpop .blind-row{ margin: 2.74% 0 0 0; height: 2.26%;}.angle59 .blindContentpop .blind-row{ margin: 2.77% 0 0 0; height: 2.23%;}.angle60 .blindContentpop .blind-row{ margin: 2.8% 0 0 0; height: 2.2%;}.angle61 .blindContentpop .blind-row{ margin: 2.83% 0 0 0; height: 2.17%;}.angle62 .blindContentpop .blind-row{ margin: 2.86% 0 0 0; height: 2.14%;}.angle63 .blindContentpop .blind-row{ margin: 2.89% 0 0 0; height: 2.11%;}.angle64 .blindContentpop .blind-row{ margin: 2.92% 0 0 0; height: 2.08%;}.angle65 .blindContentpop .blind-row{ margin: 2.95% 0 0 0; height: 2.05%;}.angle66 .blindContentpop .blind-row{ margin: 2.98% 0 0 0; height: 2.02%;}.angle67 .blindContentpop .blind-row{ margin: 3.01% 0 0 0; height: 1.99%;}.angle68 .blindContentpop .blind-row{ margin: 3.04% 0 0 0; height: 1.96%;}.angle69 .blindContentpop .blind-row{ margin: 3.07% 0 0 0; height: 1.93%;}.angle70 .blindContentpop .blind-row{ margin: 3.1% 0 0 0; height: 1.9%;}.angle71 .blindContentpop .blind-row{ margin: 3.13% 0 0 0; height: 1.87%;}.angle72 .blindContentpop .blind-row{ margin: 3.16% 0 0 0; height: 1.84%;}.angle73 .blindContentpop .blind-row{ margin: 3.19% 0 0 0; height: 1.81%;}.angle74 .blindContentpop .blind-row{ margin: 3.22% 0 0 0; height: 1.78%;}.angle75 .blindContentpop .blind-row{ margin: 3.25% 0 0 0; height: 1.75%;}.angle76 .blindContentpop .blind-row{ margin: 3.28% 0 0 0; height: 1.72%;}.angle77 .blindContentpop .blind-row{ margin: 3.31% 0 0 0; height: 1.69%;}.angle78 .blindContentpop .blind-row{ margin: 3.34% 0 0 0; height: 1.66%;}.angle79 .blindContentpop .blind-row{ margin: 3.37% 0 0 0; height: 1.63%;}.angle80 .blindContentpop .blind-row{ margin: 3.4% 0 0 0; height: 1.6%;}.angle81 .blindContentpop .blind-row{ margin: 3.43% 0 0 0; height: 1.57%;}.angle82 .blindContentpop .blind-row{ margin: 3.46% 0 0 0; height: 1.54%;}.angle83 .blindContentpop .blind-row{ margin: 3.49% 0 0 0; height: 1.51%;}.angle84 .blindContentpop .blind-row{ margin: 3.52% 0 0 0; height: 1.48%;}.angle85 .blindContentpop .blind-row{ margin: 3.55% 0 0 0; height: 1.45%;}.angle86 .blindContentpop .blind-row{ margin: 3.58% 0 0 0; height: 1.42%;}.angle87 .blindContentpop .blind-row{ margin: 3.61% 0 0 0; height: 1.39%;}.angle88 .blindContentpop .blind-row{ margin: 3.64% 0 0 0; height: 1.36%;}.angle89 .blindContentpop .blind-row{ margin: 3.67% 0 0 0; height: 1.33%;}.angle90 .blindContentpop .blind-row{ margin: 3.7% 0 0 0; height: 1.3%;}.angle91 .blindContentpop .blind-row{ margin: 3.73% 0 0 0; height: 1.27%;}.angle92 .blindContentpop .blind-row{ margin: 3.76% 0 0 0; height: 1.24%;}.angle93 .blindContentpop .blind-row{ margin: 3.79% 0 0 0; height: 1.21%;}.angle94 .blindContentpop .blind-row{ margin: 3.82% 0 0 0; height: 1.18%;}.angle95 .blindContentpop .blind-row{ margin: 3.85% 0 0 0; height: 1.15%;}.angle96 .blindContentpop .blind-row{ margin: 3.88% 0 0 0; height: 1.12%;}.angle97 .blindContentpop .blind-row{ margin: 3.91% 0 0 0; height: 1.09%;}.angle98 .blindContentpop .blind-row{ margin: 3.94% 0 0 0; height: 1.06%;}.angle99 .blindContentpop .blind-row{ margin: 3.97% 0 0 0; height: 1.03%;}.angle100 .blindContentpop .blind-row{ margin: 4% 0 0 0; height: 1%;}.angle101 .blindContentpop .blind-row{ margin: 4% 0 0 0; height: 1%;}
*/
.position100 .blindContentpop{ margin-top: -0px; }.position99 .blindContentpop{ margin-top: -1.6px; }.position98 .blindContentpop{ margin-top: -3.2px; }.position97 .blindContentpop{ margin-top: -4.8px; }.position96 .blindContentpop{ margin-top: -6.4px; }.position95 .blindContentpop{ margin-top: -8px; }.position94 .blindContentpop{ margin-top: -9.6px; }.position93 .blindContentpop{ margin-top: -11.2px; }.position92 .blindContentpop{ margin-top: -12.8px; }.position91 .blindContentpop{ margin-top: -14.4px; }.position90 .blindContentpop{ margin-top: -16px; }.position89 .blindContentpop{ margin-top: -17.6px; }.position88 .blindContentpop{ margin-top: -19.2px; }.position87 .blindContentpop{ margin-top: -20.8px; }.position86 .blindContentpop{ margin-top: -22.4px; }.position85 .blindContentpop{ margin-top: -24px; }.position84 .blindContentpop{ margin-top: -25.6px; }.position83 .blindContentpop{ margin-top: -27.2px; }.position82 .blindContentpop{ margin-top: -28.8px; }.position81 .blindContentpop{ margin-top: -30.4px; }.position80 .blindContentpop{ margin-top: -32px; }.position79 .blindContentpop{ margin-top: -33.6px; }.position78 .blindContentpop{ margin-top: -35.2px; }.position77 .blindContentpop{ margin-top: -36.8px; }.position76 .blindContentpop{ margin-top: -38.4px; }.position75 .blindContentpop{ margin-top: -40px; }.position74 .blindContentpop{ margin-top: -41.6px; }.position73 .blindContentpop{ margin-top: -43.2px; }.position72 .blindContentpop{ margin-top: -44.8px; }.position71 .blindContentpop{ margin-top: -46.4px; }.position70 .blindContentpop{ margin-top: -48px; }.position69 .blindContentpop{ margin-top: -49.6px; }.position68 .blindContentpop{ margin-top: -51.2px; }.position67 .blindContentpop{ margin-top: -52.8px; }.position66 .blindContentpop{ margin-top: -54.4px; }.position65 .blindContentpop{ margin-top: -56px; }.position64 .blindContentpop{ margin-top: -57.6px; }.position63 .blindContentpop{ margin-top: -59.2px; }.position62 .blindContentpop{ margin-top: -60.8px; }.position61 .blindContentpop{ margin-top: -62.4px; }.position60 .blindContentpop{ margin-top: -64px; }.position59 .blindContentpop{ margin-top: -65.6px; }.position58 .blindContentpop{ margin-top: -67.2px; }.position57 .blindContentpop{ margin-top: -68.8px; }.position56 .blindContentpop{ margin-top: -70.4px; }.position55 .blindContentpop{ margin-top: -72px; }.position54 .blindContentpop{ margin-top: -73.6px; }.position53 .blindContentpop{ margin-top: -75.2px; }.position52 .blindContentpop{ margin-top: -76.8px; }.position51 .blindContentpop{ margin-top: -78.4px; }.position50 .blindContentpop{ margin-top: -80px; }.position49 .blindContentpop{ margin-top: -81.6px; }.position48 .blindContentpop{ margin-top: -83.2px; }.position47 .blindContentpop{ margin-top: -84.8px; }.position46 .blindContentpop{ margin-top: -86.4px; }.position45 .blindContentpop{ margin-top: -88px; }.position44 .blindContentpop{ margin-top: -89.6px; }.position43 .blindContentpop{ margin-top: -91.2px; }.position42 .blindContentpop{ margin-top: -92.8px; }.position41 .blindContentpop{ margin-top: -94.4px; }.position40 .blindContentpop{ margin-top: -96px; }.position39 .blindContentpop{ margin-top: -97.6px; }.position38 .blindContentpop{ margin-top: -99.2px; }.position37 .blindContentpop{ margin-top: -100.8px; }.position36 .blindContentpop{ margin-top: -102.4px; }.position35 .blindContentpop{ margin-top: -104px; }.position34 .blindContentpop{ margin-top: -105.6px; }.position33 .blindContentpop{ margin-top: -107.2px; }.position32 .blindContentpop{ margin-top: -108.8px; }.position31 .blindContentpop{ margin-top: -110.4px; }.position30 .blindContentpop{ margin-top: -112px; }.position29 .blindContentpop{ margin-top: -113.6px; }.position28 .blindContentpop{ margin-top: -115.2px; }.position27 .blindContentpop{ margin-top: -116.8px; }.position26 .blindContentpop{ margin-top: -118.4px; }.position25 .blindContentpop{ margin-top: -120px; }.position24 .blindContentpop{ margin-top: -121.6px; }.position23 .blindContentpop{ margin-top: -123.2px; }.position22 .blindContentpop{ margin-top: -124.8px; }.position21 .blindContentpop{ margin-top: -126.4px; }.position20 .blindContentpop{ margin-top: -128px; }.position19 .blindContentpop{ margin-top: -129.6px; }.position18 .blindContentpop{ margin-top: -131.2px; }.position17 .blindContentpop{ margin-top: -132.8px; }.position16 .blindContentpop{ margin-top: -134.4px; }.position15 .blindContentpop{ margin-top: -136px; }.position14 .blindContentpop{ margin-top: -137.6px; }.position13 .blindContentpop{ margin-top: -139.2px; }.position12 .blindContentpop{ margin-top: -140.8px; }.position11 .blindContentpop{ margin-top: -142.4px; }.position10 .blindContentpop{ margin-top: -144px; }.position9 .blindContentpop{ margin-top: -145.6px; }.position8 .blindContentpop{ margin-top: -147.2px; }.position7 .blindContentpop{ margin-top: -148.8px; }.position6 .blindContentpop{ margin-top: -150.4px; }.position5 .blindContentpop{ margin-top: -152px; }.position4 .blindContentpop{ margin-top: -153.6px; }.position3 .blindContentpop{ margin-top: -155.2px; }.position2 .blindContentpop{ margin-top: -156.8px; }.position1 .blindContentpop{ margin-top: -158.4px; }.position0 .blindContentpop{ margin-top: -160px; }.angle0 .blindContentpop .blind-row{ margin: 4px 0 0 0; height: 12px;}.angle1 .blindContentpop .blind-row{ margin: 4.08px 0 0 0; height: 11.92px;}.angle2 .blindContentpop .blind-row{ margin: 4.16px 0 0 0; height: 11.84px;}.angle3 .blindContentpop .blind-row{ margin: 4.24px 0 0 0; height: 11.76px;}.angle4 .blindContentpop .blind-row{ margin: 4.32px 0 0 0; height: 11.68px;}.angle5 .blindContentpop .blind-row{ margin: 4.4px 0 0 0; height: 11.6px;}.angle6 .blindContentpop .blind-row{ margin: 4.48px 0 0 0; height: 11.52px;}.angle7 .blindContentpop .blind-row{ margin: 4.56px 0 0 0; height: 11.44px;}.angle8 .blindContentpop .blind-row{ margin: 4.64px 0 0 0; height: 11.36px;}.angle9 .blindContentpop .blind-row{ margin: 4.72px 0 0 0; height: 11.28px;}.angle10 .blindContentpop .blind-row{ margin: 4.8px 0 0 0; height: 11.2px;}.angle11 .blindContentpop .blind-row{ margin: 4.88px 0 0 0; height: 11.12px;}.angle12 .blindContentpop .blind-row{ margin: 4.96px 0 0 0; height: 11.04px;}.angle13 .blindContentpop .blind-row{ margin: 5.04px 0 0 0; height: 10.96px;}.angle14 .blindContentpop .blind-row{ margin: 5.12px 0 0 0; height: 10.88px;}.angle15 .blindContentpop .blind-row{ margin: 5.2px 0 0 0; height: 10.8px;}.angle16 .blindContentpop .blind-row{ margin: 5.28px 0 0 0; height: 10.72px;}.angle17 .blindContentpop .blind-row{ margin: 5.36px 0 0 0; height: 10.64px;}.angle18 .blindContentpop .blind-row{ margin: 5.44px 0 0 0; height: 10.56px;}.angle19 .blindContentpop .blind-row{ margin: 5.52px 0 0 0; height: 10.48px;}.angle20 .blindContentpop .blind-row{ margin: 5.6px 0 0 0; height: 10.4px;}.angle21 .blindContentpop .blind-row{ margin: 5.68px 0 0 0; height: 10.32px;}.angle22 .blindContentpop .blind-row{ margin: 5.76px 0 0 0; height: 10.24px;}.angle23 .blindContentpop .blind-row{ margin: 5.84px 0 0 0; height: 10.16px;}.angle24 .blindContentpop .blind-row{ margin: 5.92px 0 0 0; height: 10.08px;}.angle25 .blindContentpop .blind-row{ margin: 6px 0 0 0; height: 10px;}.angle26 .blindContentpop .blind-row{ margin: 6.08px 0 0 0; height: 9.92px;}.angle27 .blindContentpop .blind-row{ margin: 6.16px 0 0 0; height: 9.84px;}.angle28 .blindContentpop .blind-row{ margin: 6.24px 0 0 0; height: 9.76px;}.angle29 .blindContentpop .blind-row{ margin: 6.32px 0 0 0; height: 9.68px;}.angle30 .blindContentpop .blind-row{ margin: 6.4px 0 0 0; height: 9.6px;}.angle31 .blindContentpop .blind-row{ margin: 6.48px 0 0 0; height: 9.52px;}.angle32 .blindContentpop .blind-row{ margin: 6.56px 0 0 0; height: 9.44px;}.angle33 .blindContentpop .blind-row{ margin: 6.64px 0 0 0; height: 9.36px;}.angle34 .blindContentpop .blind-row{ margin: 6.72px 0 0 0; height: 9.28px;}.angle35 .blindContentpop .blind-row{ margin: 6.8px 0 0 0; height: 9.2px;}.angle36 .blindContentpop .blind-row{ margin: 6.88px 0 0 0; height: 9.12px;}.angle37 .blindContentpop .blind-row{ margin: 6.96px 0 0 0; height: 9.04px;}.angle38 .blindContentpop .blind-row{ margin: 7.04px 0 0 0; height: 8.96px;}.angle39 .blindContentpop .blind-row{ margin: 7.12px 0 0 0; height: 8.88px;}.angle40 .blindContentpop .blind-row{ margin: 7.2px 0 0 0; height: 8.8px;}.angle41 .blindContentpop .blind-row{ margin: 7.28px 0 0 0; height: 8.72px;}.angle42 .blindContentpop .blind-row{ margin: 7.36px 0 0 0; height: 8.64px;}.angle43 .blindContentpop .blind-row{ margin: 7.44px 0 0 0; height: 8.56px;}.angle44 .blindContentpop .blind-row{ margin: 7.52px 0 0 0; height: 8.48px;}.angle45 .blindContentpop .blind-row{ margin: 7.6px 0 0 0; height: 8.4px;}.angle46 .blindContentpop .blind-row{ margin: 7.68px 0 0 0; height: 8.32px;}.angle47 .blindContentpop .blind-row{ margin: 7.76px 0 0 0; height: 8.24px;}.angle48 .blindContentpop .blind-row{ margin: 7.84px 0 0 0; height: 8.16px;}.angle49 .blindContentpop .blind-row{ margin: 7.92px 0 0 0; height: 8.08px;}.angle50 .blindContentpop .blind-row{ margin: 8px 0 0 0; height: 8px;}.angle51 .blindContentpop .blind-row{ margin: 8.08px 0 0 0; height: 7.92px;}.angle52 .blindContentpop .blind-row{ margin: 8.16px 0 0 0; height: 7.84px;}.angle53 .blindContentpop .blind-row{ margin: 8.24px 0 0 0; height: 7.76px;}.angle54 .blindContentpop .blind-row{ margin: 8.32px 0 0 0; height: 7.68px;}.angle55 .blindContentpop .blind-row{ margin: 8.4px 0 0 0; height: 7.6px;}.angle56 .blindContentpop .blind-row{ margin: 8.48px 0 0 0; height: 7.52px;}.angle57 .blindContentpop .blind-row{ margin: 8.56px 0 0 0; height: 7.44px;}.angle58 .blindContentpop .blind-row{ margin: 8.64px 0 0 0; height: 7.36px;}.angle59 .blindContentpop .blind-row{ margin: 8.72px 0 0 0; height: 7.28px;}.angle60 .blindContentpop .blind-row{ margin: 8.8px 0 0 0; height: 7.2px;}.angle61 .blindContentpop .blind-row{ margin: 8.88px 0 0 0; height: 7.12px;}.angle62 .blindContentpop .blind-row{ margin: 8.96px 0 0 0; height: 7.04px;}.angle63 .blindContentpop .blind-row{ margin: 9.04px 0 0 0; height: 6.96px;}.angle64 .blindContentpop .blind-row{ margin: 9.12px 0 0 0; height: 6.88px;}.angle65 .blindContentpop .blind-row{ margin: 9.2px 0 0 0; height: 6.8px;}.angle66 .blindContentpop .blind-row{ margin: 9.28px 0 0 0; height: 6.72px;}.angle67 .blindContentpop .blind-row{ margin: 9.36px 0 0 0; height: 6.64px;}.angle68 .blindContentpop .blind-row{ margin: 9.44px 0 0 0; height: 6.56px;}.angle69 .blindContentpop .blind-row{ margin: 9.52px 0 0 0; height: 6.48px;}.angle70 .blindContentpop .blind-row{ margin: 9.6px 0 0 0; height: 6.4px;}.angle71 .blindContentpop .blind-row{ margin: 9.68px 0 0 0; height: 6.32px;}.angle72 .blindContentpop .blind-row{ margin: 9.76px 0 0 0; height: 6.24px;}.angle73 .blindContentpop .blind-row{ margin: 9.84px 0 0 0; height: 6.16px;}.angle74 .blindContentpop .blind-row{ margin: 9.92px 0 0 0; height: 6.08px;}.angle75 .blindContentpop .blind-row{ margin: 10px 0 0 0; height: 6px;}.angle76 .blindContentpop .blind-row{ margin: 10.08px 0 0 0; height: 5.92px;}.angle77 .blindContentpop .blind-row{ margin: 10.16px 0 0 0; height: 5.84px;}.angle78 .blindContentpop .blind-row{ margin: 10.24px 0 0 0; height: 5.76px;}.angle79 .blindContentpop .blind-row{ margin: 10.32px 0 0 0; height: 5.68px;}.angle80 .blindContentpop .blind-row{ margin: 10.4px 0 0 0; height: 5.6px;}.angle81 .blindContentpop .blind-row{ margin: 10.48px 0 0 0; height: 5.52px;}.angle82 .blindContentpop .blind-row{ margin: 10.56px 0 0 0; height: 5.44px;}.angle83 .blindContentpop .blind-row{ margin: 10.64px 0 0 0; height: 5.36px;}.angle84 .blindContentpop .blind-row{ margin: 10.72px 0 0 0; height: 5.28px;}.angle85 .blindContentpop .blind-row{ margin: 10.8px 0 0 0; height: 5.2px;}.angle86 .blindContentpop .blind-row{ margin: 10.88px 0 0 0; height: 5.12px;}.angle87 .blindContentpop .blind-row{ margin: 10.96px 0 0 0; height: 5.04px;}.angle88 .blindContentpop .blind-row{ margin: 11.04px 0 0 0; height: 4.96px;}.angle89 .blindContentpop .blind-row{ margin: 11.12px 0 0 0; height: 4.88px;}.angle90 .blindContentpop .blind-row{ margin: 11.2px 0 0 0; height: 4.8px;}.angle91 .blindContentpop .blind-row{ margin: 11.28px 0 0 0; height: 4.72px;}.angle92 .blindContentpop .blind-row{ margin: 11.36px 0 0 0; height: 4.64px;}.angle93 .blindContentpop .blind-row{ margin: 11.44px 0 0 0; height: 4.56px;}.angle94 .blindContentpop .blind-row{ margin: 11.52px 0 0 0; height: 4.48px;}.angle95 .blindContentpop .blind-row{ margin: 11.6px 0 0 0; height: 4.4px;}.angle96 .blindContentpop .blind-row{ margin: 11.68px 0 0 0; height: 4.32px;}.angle97 .blindContentpop .blind-row{ margin: 11.76px 0 0 0; height: 4.24px;}.angle98 .blindContentpop .blind-row{ margin: 11.84px 0 0 0; height: 4.16px;}.angle99 .blindContentpop .blind-row{ margin: 11.92px 0 0 0; height: 4.08px;}.angle100 .blindContentpop .blind-row{ margin: 12px 0 0 0; height: 4px;}
#sidesASelect {
    width: 100%;
    border: none;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 21px;
    background-color: var(--lightGrey);
    display: none;
}
.contactLogo {
    text-align: center;
    float: left;
    margin-top: 20px;
    width: 100%;
}
:root {
    --blue: #0085cf;
    --white: #fefbfb;
    --menuwhite: #f9f9f9;
    --panelwhite: #e4e4e4;
    --grey: #a1aab2;
    --lightGrey: #ebebeb;
    --menuGrey: #cfcfcf;
    --buttonGrey: #747474;
    --buttonTextGrey: #dddddd;
    --linkGrey: #888888;
    --textGrey: #020202;
    --shadow: #888;
    --background: #eaeaea;
    --greyText: #838383;
    --green: #07b90f;
    --error: #c00707;
    --slidePosition: #ff5a00;
    --slideAngle: #33b201;
  }