@font-face {
    font-family: 'Myriad Hebrew';
    src: url('../../../css/fonts/MyriadHebrew-Regular.eot');
    src: url('../../../css/fonts/MyriadHebrew-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../../css/fonts/MyriadHebrew-Regular.woff2') format('woff2'),
        url('../../../css/fonts/MyriadHebrew-Regular.woff') format('woff'),
        url('../../../css/fonts/MyriadHebrew-Regular.ttf') format('truetype'),
        url('../../../css/fonts/MyriadHebrew-Regular.svg#MyriadHebrew-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'fontello';
    src: url('../../../css/fonts/fontello.eot');
    src: url('../../../css/fonts/fontello.eot#iefix') format('embedded-opentype'),
         url('../../../css/fonts/fontello.woff2') format('woff2'),
         url('../../../css/fonts/fontello.woff') format('woff'),
         url('../../../css/fonts/fontello.ttf') format('truetype'),
         url('../../../css/fonts/fontello.svg#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
  }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    font-family: 'Myriad Hebrew' !important;
}
body{
    background-color: var(--background);
    border-bottom: 13px solid var(--blue);
}
.header{
    background-color: var(--blue);
    -moz-box-shadow: -1px 2px 5px var(--shadow);
    -webkit-box-shadow: -1px 2px 5px var(--shadow);
    box-shadow: -1px 2px 5px var(--shadow);
    height: 13px;
    width: 100%;
    float: left;
}
#wrapper{
    padding: 50px 8% 0;
    display: block;
}
#nav{
    background-color: var(--grey);
    width: 100%;
    height: 50px;
    /*padding: 15px 0;*/
    box-sizing: border-box;
    color: white;
    border-radius: 5px;
    -moz-box-shadow: -1px 2px 5px var(--shadow);
    -webkit-box-shadow: -1px 2px 5px var(--shadow);
    box-shadow: -1px 2px 5px var(--shadow);
    font-size: 20px;
}
#nav a{
    font-size: 20px;
    opacity: 1;
    margin: 15px calc(10% - 10px)
}
#nav a::after {
    border: none;
    -moz-transition: height .25s ease-in-out;
    -webkit-transition: height .25s ease-in-out;
    transition: height .25s ease-in-out;
    left: -50%;
    bottom: -21px;
    margin-left: 0;
    background-color: var(--blue);
    width: 200%;
}
#main{
    margin-top: 20px;
    overflow: visible;
    background-color: transparent;
}
#nav a.active::after {
    border:none;
    height: 5px;
    -moz-box-shadow: -1px 2px 5px var(--shadow);
    -webkit-box-shadow: -1px 2px 5px var(--shadow);
    box-shadow: -1px 2px 5px var(--shadow);
}

#main > .panel {
    padding: 6.66%;
    float: left;
    background-color: var(--background);
    border-radius: 5px;
    -moz-box-shadow: 0px 1px 10px var(--shadow);
    -webkit-box-shadow: 0px 1px 10px var(--shadow);
    box-shadow: 0px 1px 10px var(--shadow);
}
.DivAll{
    border-radius: 5px;
    -moz-box-shadow: 0px 1px 10px var(--shadow);
    -webkit-box-shadow: 0px 1px 10px var(--shadow);
    box-shadow: 0px 1px 10px var(--shadow);
    width: 100%;
    float: left;
    padding: 10px 0 0 0;
}
#main > .panel.intro {
    display: block;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.H1Title{
    margin: 40px auto 45px;
    font-size: 35.56px;
    color: var(--blue);
}
.rules tr{
    background-color: var(--background);
    padding: 25px 15px 10px 12px;
    border-radius: 5px;
    -moz-box-shadow: 0px 1px 10px var(--shadow);
    -webkit-box-shadow: 0px 1px 10px var(--shadow);
    box-shadow: 0px 1px 10px var(--shadow);
    margin-top: 16px;
    float: left;
    width: 100%;
    color: var(--greyText);
}
.rules tr a{
    color: var(--greyText);
    text-decoration: none;
    -moz-transition: color .25s ease-in-out;
    -webkit-transition: color .25s ease-in-out;
    transition: color .25s ease-in-out;
}
.rules tr a:hover{
    color: var(--blue);
}
.rules tr:first-child{
    padding: 10px 15px 10px 12px;
    color: var(--blue);
    margin-bottom: 16px;
}
.rules th, .rules td{
    float: left;
    margin-right: 5%;
    font-weight: bold;
}
.rules th{
    font-size: 20.32px;
}
.rules td{
    font-size: 15.24px;
    width: 15.8%;
}
.rules th:first-child, .rules td:first-child{
    float: right;
    margin-right: 0;
    width: auto;
    text-align: center;
}
.BRBlind2RuletoggleOff, .BRBlind2RuletoggleOn, .BRBlind2RulePowerOff, .BRBlind2RulePowerOn{
    background: none;;
}
.BRBlind2RuletoggleOff, .BRBlind2RulePowerOff{
    color: var(--greyText);
}
.BRBlind2RuletoggleOn, .BRBlind2RulePowerOn{
    color: var(--green);
}
.formInput {
    position: relative;
    font-family: 'Montserrat', sans-serif !important;
    text-align: left;
    float: left;
    width: 100%;
}
.formInput input[type="text"], 
.formInput input[type="password"], 
.formInput input[type="button"]{
    -moz-box-shadow: 0px 1px 10px var(--shadow);
    -webkit-box-shadow: 0px 1px 10px var(--shadow);
    box-shadow: 0px 1px 10px var(--shadow);
    border-radius: 5px;
    height: 42px;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif !important;

}
.formInput input[type="text"], .formInput input[type="password"]{
    margin-bottom: 16px;
    padding-left: 33px;
    box-sizing: border-box;
    color: var(--greyText);
    text-align: left;
}
.formInput input[type="button"]{
    background-color: var(--buttonGrey);
    line-height: 36px;
    margin-top: 25px;
}
.formInput i.icon, .formInput i.icon-alan{
    font-size: 20px;
    color: var(--grey);
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 1;
    left: 1vh;
    top: 1vh;
}
input[type="checkbox"] {
    width:17px;
    height:17px;
    margin-left: -17px;
    margin-top: 21px;
}
input[type="checkbox"] + label{
    float: left;
    margin: none;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:17px;
    height:17px;
    vertical-align:middle;
    background:url("../../../images/checkboxes.png") left top no-repeat;
    margin: 19px 3px 0 7px;
    cursor:pointer;
    transition: none;
}
input[type="checkbox"]:checked + label span {
    background:url("../../../images/checkboxes.png") -17px top no-repeat;
}
.formInput span{
    margin-top: 15px;
}
.formInput a, .formInput span{
    text-decoration: none;
    color: var(--linkGrey);
    font-size: 13px;
    float: left;
    padding-left: 7px;
    font-family: 'Montserrat', sans-serif !important;
    -moz-transition: .25s ease-in-out;
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
.formInput a:hover{
    text-decoration: underline;
}
.message {
    width: 100%;
    float: left;
    color: var(--textGrey);
    font-weight: bold;
    margin-top: 3px;
}
.message .icon {
    float: right;
}
.message span {
    float: left;
    width: calc(100% - 36px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.message.open{
    color: var(--greyText);
    font-weight: normal;
}
#DivSearch .refresh {
    float: right;
    margin-left: 5px;
}
#DivSearch {
    padding: 0 10px;
    border-radius: 5px;
    box-sizing: border-box;
    float: left;
    width: 100%;
    margin-bottom: 15px;
    -moz-box-shadow: 0px 1px 10px var(--shadow);
    -webkit-box-shadow: 0px 1px 10px var(--shadow);
    box-shadow: 0px 1px 10px var(--shadow);
}
#DivSearch .fa-search {
    float: right;
}
#DivSearch #TxtSearch {
    width: calc(100% - 37px);
    float: left;
    border: none;
    background-color: transparent;
}

#DivSearch .icon.solid::before{
    font-size: 15px;
    color: var(--linkGrey)
}
#main > .panel.intro{
    display: block;
}
.blindContent {
    float: left;
    width: 87.5%;
    margin-left: 6.25%;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px 0 10px 2%;
    -moz-box-shadow: 0px 1px 10px var(--shadow);
    -webkit-box-shadow: 0px 1px 10px var(--shadow);
    box-shadow: 0px 1px 10px var(--shadow);
    box-sizing: border-box;
    height: 70px;
}
.blindContent > div, .blindContent > a {
    float: left;
}
.divPercent {
    width: 19%;
    text-align: center;
    color: var(--greyText);
    font-weight: 500;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 17.8px;
    margin-top: 14px;  
    margin-right: 3%;
    text-align: center;
}
.blindContent:hover .divPercent{
    color: var(--blue);
}
.blindContent.error .divPercent {
    color: var(--error);
}
.blindContent.error .blind::before{
    font-family: 'fontello';
    color: var(--error);
    font-size: 25px;
    content: "\e894";
    width: 25px;
    height: 25px;
    position: absolute;
    top: 8px;
    left: calc(70% - 25px);
    z-index: 11;
}
.stateBlind {
    width: 100%;
    float: left;
    background-color: var(--blue);
}
.blind {
    position: relative;
    box-sizing: border-box;
    -moz-box-shadow: 0px 1px 10px var(--shadow);
    -webkit-box-shadow: 0px 1px 10px var(--shadow);
    box-shadow: 0px 1px 10px var(--shadow);
    overflow: hidden;
    height: 50px;
    width: 20%;
    float: left;
    margin: 0 3%;
}
.blind .stateBlind {
    position: absolute;
    height: 100%;
}
.blind.position0 .stateBlind { top: -100%;}
.blind.position1 .stateBlind, .blind.position2 .stateBlind, .blind.position3 .stateBlind, .blind.position4 .stateBlind, .blind.position5 .stateBlind { top: -95%;}
.blind.position6 .stateBlind, .blind.position7 .stateBlind, .blind.position8 .stateBlind, .blind.position9 .stateBlind, .blind.position10 .stateBlind  { top: -90%;}
.blind.position11 .stateBlind, .blind.position12 .stateBlind, .blind.position13 .stateBlind, .blind.position14 .stateBlind, .blind.position15 .stateBlind { top: -850%;}
.blind.position16 .stateBlind, .blind.position17 .stateBlind, .blind.position18 .stateBlind, .blind.position19 .stateBlind, .blind.position20 .stateBlind { top: -80%;}
.blind.position21 .stateBlind, .blind.position22 .stateBlind, .blind.position23 .stateBlind, .blind.position24 .stateBlind, .blind.position25 .stateBlind { top: -75%;}
.blind.position26 .stateBlind, .blind.position27 .stateBlind, .blind.position28 .stateBlind, .blind.position29 .stateBlind, .blind.position30 .stateBlind { top: -70%;}
.blind.position31 .stateBlind, .blind.position32 .stateBlind, .blind.position33 .stateBlind, .blind.position34 .stateBlind, .blind.position35 .stateBlind { top: -65%;}
.blind.position36 .stateBlind, .blind.position37 .stateBlind, .blind.position38 .stateBlind, .blind.position39 .stateBlind, .blind.position40 .stateBlind { top: -60%;}
.blind.position41 .stateBlind, .blind.position42 .stateBlind, .blind.position43 .stateBlind, .blind.position44 .stateBlind, .blind.position45 .stateBlind { top: -55%;}
.blind.position46 .stateBlind, .blind.position47 .stateBlind, .blind.position48 .stateBlind, .blind.position49 .stateBlind, .blind.position50 .stateBlind { top: -50%;}
.blind.position51 .stateBlind, .blind.position52 .stateBlind, .blind.position53 .stateBlind, .blind.position54 .stateBlind, .blind.position55 .stateBlind { top: -45%;}
.blind.position56 .stateBlind, .blind.position57 .stateBlind, .blind.position58 .stateBlind, .blind.position59 .stateBlind, .blind.position60 .stateBlind { top: -40%;}
.blind.position61 .stateBlind, .blind.position62 .stateBlind, .blind.position63 .stateBlind, .blind.position64 .stateBlind, .blind.position65 .stateBlind { top: -35%;}
.blind.position66 .stateBlind, .blind.position67 .stateBlind, .blind.position68 .stateBlind, .blind.position69 .stateBlind, .blind.position70 .stateBlind { top: -30%;}
.blind.position71 .stateBlind, .blind.position72 .stateBlind, .blind.position73 .stateBlind, .blind.position74 .stateBlind, .blind.position75 .stateBlind { top: -25%;}
.blind.position76 .stateBlind, .blind.position77 .stateBlind, .blind.position78 .stateBlind, .blind.position79 .stateBlind, .blind.position80 .stateBlind { top: -20%;}
.blind.position81 .stateBlind, .blind.position82 .stateBlind, .blind.position83 .stateBlind, .blind.position84 .stateBlind, .blind.position85 .stateBlind { top: -15%;}
.blind.position86 .stateBlind, .blind.position87 .stateBlind, .blind.position88 .stateBlind, .blind.position89 .stateBlind, .blind.position90 .stateBlind { top: -10%;}
.blind.position91 .stateBlind, .blind.position92 .stateBlind, .blind.position93 .stateBlind, .blind.position94 .stateBlind, .blind.position95 .stateBlind { top: -5%;}
.blind.position96 .stateBlind, .blind.position97 .stateBlind, .blind.position99 .stateBlind, .blind.position99 .stateBlind, .blind.position100 .stateBlind { top: 0%;}
.blindName {
    float: right !important;
    color: white;
    background-color: var(--blue);
    font-size: 15.57px;
    line-height: 20px;
    height: 25px;
    width: 19%;
    margin-top: 13px;
    margin-right: -2px;
    padding: 3px 5px 0 0;
    font-family: 'Montserrat', sans-serif !important;
}
.blindSection {
    float: right !important;
}
.blindNameSection {
    color: var(--grey);
}
.blindSection {
    width: 18%;
    text-align: center;
}
.blindLetterSection {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif !important;
}
.blindSection {
    color: var(--grey);
}
a.blindDown, a.blindUp {
    text-decoration: none;
    margin-top: 14px;
    width: 6%;
}
a.blindDown::before, a.blindUp::before {
    font-family: 'fontello';
    color: var(--arrows);
    font-size: 20px;
}
a.blindDown::before{
    content: "\e898";
}
a.blindUp::before{
    content: "\e899";
}
.icon-alan::before{
    font-family: 'fontello';
    font-style: normal;
    font-size: 20px;
}
.icon-home::before {
    content: "\e897";
}
.icon-unlock::before{
    content: "\e896";
}
.sides {
    float: left;
    padding: 0 5%;
    box-sizing: border-box;
    border-radius: 5px;
    -moz-box-shadow: 0px 1px 10px var(--shadow);
    -webkit-box-shadow: 0px 1px 10px var(--shadow);
    box-shadow: 0px 1px 10px var(--shadow);
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px 5%;
    width: 100%;
}
a.side {
    width: 44%;
    padding-right: 28px;
    float: left;
    text-decoration: none;
    position: relative;
    color: var(--blue);
    font-weight: bold;
}
.side.minus::before, .side.plus::before {
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    color: var(--blue);
    position: absolute;
    right: 0px;
    font-weight: 700;
    color: var(--arrows)
}
.side.plus::before {
    content: "\f0fe";
}
.side.minus::before{
    content: "\f146";
}

:root {
    --blue: #0085cf;
    --white: #fefbfb;
    --menuwhite: #f9f9f9;
    --panelwhite: #e4e4e4;
    --grey: #a1aab2;
    --lightGrey: #ebebeb;
    --menuGrey: #cfcfcf;
    --buttonGrey: #747474;
    --buttonTextGrey: #dddddd;
    --linkGrey: #888888;
    --textGrey: #020202;
    --shadow: #888;
    --background: #eaeaea;
    --greyText: #838383;
    --green: #07b90f;
    --error: #c00707;
    --arrows: #cccccc;
  }