@font-face {
    font-family: 'Myriad Hebrew';
    src: url('fonts/MyriadHebrew-Regular.eot');
    src: url('fonts/MyriadHebrew-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/MyriadHebrew-Regular.woff2') format('woff2'),
        url('fonts/MyriadHebrew-Regular.woff') format('woff'),
        url('fonts/MyriadHebrew-Regular.ttf') format('truetype'),
        url('fonts/MyriadHebrew-Regular.svg#MyriadHebrew-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'fontello';
    src: url('fonts/fontello.eot');
    src: url('fonts/fontello.eot?#iefix') format('embedded-opentype'),
         url('fonts/fontello.woff2') format('woff2'),
         url('fonts/fontello.woff') format('woff'),
         url('fonts/fontello.ttf') format('truetype'),
         url('fonts/fontello.svg#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
  }

body{
    margin: 0;
    font-family: 'Myriad Hebrew', sans-serif !important;
}
.DivAllBoxes_TitleError {
    display: inline-grid !important;
    border-radius: 50% !important;
    background-color: white !important;
    margin-right: -4px !important;
    height: 13px !important;
    width: 12px !important;
    float: right !important;
    color: red !important;
    font-size: 11px !important;
    text-align: right !important;
    font-weight: bold !important;
    margin-right: 2px !important;
    display: none !important;
}
input[type=checkbox]
{
  -ms-transform: scale(1.3); /* IE */
  -moz-transform: scale(1.3); /* FF */
  -webkit-transform: scale(1.3); /* Safari and Chrome */
  -o-transform: scale(1.3); /* Opera */
  transform: scale(1.3);
  padding: 10px;
}
input[type='checkbox']:checked:after {
	background: #ccc;
	content: '\2714';
    color: #fff;
    box-shadow: none !important;
}
.dx-widget {
    font-family: 'Myriad Hebrew', sans-serif !important;
}
.global{
    margin: auto;
    width: 1200px;
    display: table;
}
.logoLeumi,
.MainPageTitle{
    height: 38px;
}
.logoLeumi{
    float: left;
}
.MainPageTitle{
    color: var(--blue);
    font-size: 33px !important;
    float: right;
    display: block;
    padding: 0 !important;
    text-shadow: #999 1px 1px;
}
.DivTableTitle{
    margin: 20px 0;
    color: var(--buttonBack);
    font-size: 19px !important;
}
#cssmenu {
    margin-top: 38px;
    width: 100%;
    color: var(--grey) !important;
    float: right;
    display: block;
    clear: both;
    background: var(--menuWhite) !important;
    border: none !important;
    height: 46px !important;
    padding: 0 20px !important;
    box-sizing: border-box;
}
#cssmenu > ul > li:first-child > a {
     border-radius: 0 !important;
}
#cssmenu, #cssmenu ul ul > li:hover > a, #cssmenu ul ul li a:hover, #cssmenu > ul > li > a:hover, #cssmenu > ul > li > a.active {
    color: var(--menuActive) !important;
    background: var(--menuWhite) !important;
    border-bottom: 3px solid var(--menuActive);
}
#cssmenu > ul > li > a::after {
    border: none;
}
#cssmenu ul ul li a:hover, #cssmenu ul ul li a.active {
    color: var(--menuActive) !important;
    background: var(--menuWhite) !important;
}
#cssmenu > ul > li > a {
    font-weight: normal;
    font-size: 16px;
    color: var(--grey) !important;
    padding: 15px 18px ;
}
.buttonsBar{
    color: var(--blue) !important;
    font-size: 18px;
    padding-right: 20px;
    padding-left: 8px;
    width: 100%;  
    box-sizing: border-box;
    line-height: 40px;
    margin-top: -3px;
    width: 80%;
    position: fixed;
    background-color: #EEE;
}
.buttonsBar label{
    margin-left: 6px;
}
.buttonsBar input[type=text]{
    border: none;
    border-radius: 4px;
    -moz-box-shadow: 0px 2px 5px var(--shadow);
    -webkit-box-shadow: 0px 2px 5px var(--shadow);
    box-shadow: 0px 2px 5px var(--shadow);
    height: 23px;
    font-size: 13px;
    width: 80px;
    margin: 0 10px;
    padding-right: 5px;
}
.demo-container.menu{
    border: none;
    height: auto;
    width: 100%;
    background-color: transparent;
}
.dx-datagrid-borders > .dx-datagrid-pager, .dx-datagrid-borders > .dx-datagrid-headers, .dx-datagrid-borders > .dx-datagrid-filter-panel, 
.dx-datagrid-borders > .dx-datagrid-headers, .dx-datagrid-borders > .dx-datagrid-rowsview, .dx-datagrid-borders > .dx-datagrid-total-footer {
    border: none;
}
.menu .dx-datagrid.dx-gridbase-container.dx-datagrid-borders{
    background-color: transparent;
}
.menu .dx-datagrid-borders > .dx-datagrid-rowsview {
    margin-top: 20px;
    -moz-box-shadow: 0px 2px 5px var(--shadow);
    -webkit-box-shadow: 0px 2px 5px var(--shadow);
    box-shadow: 0px 2px 5px var(--shadow);
    padding: 20px 0;
    border-radius: 5px;
}
.table #gridContainer{
    padding: 0;
    max-width: none !important;
    overflow: visible;
}
.table .dx-scrollable-container{
    overflow: visible;
}
.dx-datagrid-borders > .dx-datagrid-rowsview, .dx-datagrid-borders > .dx-datagrid-total-footer{
    border:none !important;
    overflow: visible !important;
}
.dx-datagrid-rowsview .dx-row-focused.dx-data-row .dx-command-edit .dx-link, .dx-datagrid-rowsview .dx-row-focused.dx-group-row, .dx-datagrid-search-text, .dx-treelist-rowsview .dx-row-focused.dx-data-row .dx-command-edit .dx-link {
    background-color: var(--blue);
    color: #fff;
  }
.dx-datagrid-rowsview .dx-row:nth-child(even), .dx-datagrid-rowsview .dx-row:nth-child(odd) {
    border-top: none;
    border-bottom: none;
    background-color: transparent;
}
.dx-datagrid-headers .dx-datagrid-table .dx-row > td .dx-datagrid-text-content,
.dx-datagrid-headers .dx-datagrid-table .dx-row > td:hover .dx-datagrid-text-content
{
    color: var(--grey);
    font-size: 15px;
}
.dx-datagrid .dx-datagrid-content .dx-datagrid-table .dx-row > td.dx-command-edit.dx-command-edit-with-icons{
    width: 10px;
    min-width: 10px;
}
.dx-icon-trash {
    font-size: 14px;
    line-height: 1;
}
.dx-icon-edit::before{
    content: "\e895";
    font-family: 'fontello';
    font-size: 14px;
}
.dx-icon-trash::before {
    content: "\e891";
    font-family: 'fontello';
}
.menu .dx-datagrid-headers .dx-datagrid-table .dx-row > td .dx-datagrid-text-content,
.menu .dx-datagrid-headers .dx-datagrid-table .dx-row > td:hover .dx-datagrid-text-content{
    font-size: 18px;
}
.dx-datagrid-headers .dx-datagrid-table .dx-row > td .dx-sort{
    color: var(--blue) !important;
}
.dx-toolbar-item-content{
    margin: 5px 0;
    background-color: white !important;
}
.dx-toolbar-center, .dx-toolbar-before, .dx-toolbar-after{
    height: auto;
}
.dx-toolbar .dx-toolbar-items-container{
    height: 40px;
    display: table;
}
.containerControls2.table .dx-datagrid-header-panel, 
.demo-container.table .dx-datagrid-header-panel {
    padding: none;
    margin-bottom: 20px;
}
.central-container{
    vertical-align: baseline; 
    width: 80%;
}
.menu-container{
    vertical-align:top;
    width: 230px;
    position: fixed;
    z-index: 1;
    margin-top: -5px;
}
.front .menu .dx-datagrid .dx-icon-filter-operation-default::before{ 
    left: 210px;
}
.demo-container.table .dx-datagrid-rowsview .dx-datagrid-content .dx-datagrid-table, 
.containerControls2.table .dx-datagrid-rowsview .dx-datagrid-content .dx-datagrid-table{
    border-collapse: separate !important;
    border-spacing: 10px 10px !important;
}
.demo-container.table .dx-datagrid-rowsview .dx-datagrid-content .dx-datagrid-table td,
.containerControls2.table .dx-datagrid-rowsview .dx-datagrid-content .dx-datagrid-table td{
    border-radius: 5px !important;
    background-color: white !important;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    -moz-box-shadow: -1px 2px 5px var(--shadow);
    -webkit-box-shadow: -1px 2px 5px var(--shadow);
    box-shadow: -1px 2px 5px var(--shadow);
}
.demo-container.table .dx-datagrid-header-panel,
.containerControls2.table .dx-datagrid-header-panel{
    text-align: right;
}
.demo-container.table .dx-datagrid-rowsview .dx-row,
.containerControls2.table .dx-datagrid-rowsview .dx-row{
    border-top: none !important;
    border-bottom: none !important;
    background-color: transparent !important;
    padding: 10px 0;
}
.demo-container.table .dx-datagrid .dx-link,
.containerControls2.table .dx-datagrid .dx-link {
    color: #a2a2a2;
}
.dx-datagrid-scroll-container{
    overflow: visible;
}
.menu .dx-editor-cell {
    -moz-box-shadow: -1px 2px 5px var(--shadow);
    -webkit-box-shadow: -1px 2px 5px var(--shadow);
    box-shadow: -1px 2px 5px var(--shadow);
    border-radius: 5px;
}
.demo-container.table .dx-datagrid-borders > .dx-datagrid-rowsview, .dx-datagrid-borders > .dx-datagrid-total-footer,
.containerControls2.table .dx-datagrid-borders > .dx-datagrid-rowsview, .dx-datagrid-borders > .dx-datagrid-total-footer,
.demo-container.table .dx-texteditor.dx-editor-underlined.dx-state-hover::after,
.containerControls2.table .dx-texteditor.dx-editor-underlined.dx-state-hover::after,
.demo-container.table .dx-datagrid-headers .dx-datagrid-table .dx-row > td 
.containerControls2.table .dx-datagrid-headers .dx-datagrid-table .dx-row > td {
    border-bottom: none !important;
}

.table .dx-datagrid-headers .dx-datagrid-table .dx-row > td{
    padding-top: 0;
    padding-bottom: 0;
}

.demo-container.table .dx-datagrid-borders > .dx-datagrid-headers, 
.containerControls2.table .dx-datagrid-borders > .dx-datagrid-headers, 
.dx-datagrid-borders > .dx-datagrid-rowsview, 
.dx-datagrid-borders > .dx-datagrid-total-footer {
    border-left: none !important;
    border-right: none !important;
}
.dx-datagrid-borders > .dx-datagrid-rowsview{
    background-color: var(--menuwhite);
}
.modal-content{
	background-color: var(--lightGrey);
}
.demo-container.table,
.containerControls2.table {
    border: none;
    background-color: transparent;
    float: left;
}
.demo-container.table.modalTable {
    width: 640px;
    margin-left: -10px;
}

.demo-container.table .dx-widget, 
.demo-container.table .dx-widget::before, 
.demo-container.table .dx-widget::after, 
.demo-container.table .dx-widget *, 
.demo-container.table .dx-datagrid.dx-datagrid-borders > .dx-datagrid-header-panel,
.containerControls2.table .dx-widget, 
.containerControls2.table .dx-widget::before, 
.containerControls2.table .dx-widget::after, 
.containerControls2.table .dx-widget *, 
.containerControls2.table .dx-datagrid.dx-datagrid-borders > .dx-datagrid-header-panel{
    background: transparent;
    overflow: visible;
    border-radius: 5px;
}
.demo-container.table .dx-texteditor.dx-state-focused:before,
.demo-container.table .dx-texteditor.dx-state-active:before,
.containerControls2.table .dx-texteditor.dx-state-focused:before,
.containerControls2.table .dx-texteditor.dx-state-active:before {
  border-bottom: none;
  -webkit-transform: none;
          transform: none;
  -webkit-transition: none;
  transition: none;
  transition: none;
  transition: none;
}
.containerControls2.table .dx-toolbar-items-container{
	background-color: white !important;
}
.demo-container.table .dx-toolbar-items-container .dx-texteditor-input,
.containerControls2.table .dx-toolbar-items-container .dx-texteditor-input {
	background-color: white !important;
    -moz-box-shadow: 1px 1px 6px var(--shadow) !important;
    -webkit-box-shadow:1px 1px 6px var(--shadow) !important;
    box-shadow: 1px 1px 6px var(--shadow) !important;
    text-indent: 30px;
}
.demo-container.table .dx-toolbar-items-container .dx-texteditor-input::before,
.containerControls2.table .dx-toolbar-items-container .dx-texteditor-input::before {
    content: "\f027";
    font-family: 'fontello';
}

.dx-datagrid-header-panel{
    padding: 0;
}
.table .dx-datagrid-headers, .table .dx-datagrid-borders > .dx-datagrid-headers{
    border: none;
}
.dx-searchbox .dx-icon-search::before {
    text-indent: 0;
    overflow: visible;
    font-family: 'fontello';
    content: "\f027" !important;
}
.dx-searchbox .dx-icon-search{
    position: absolute !important;
    right: 0;
}

.dx-toolbar .dx-toolbar-after{
    padding-left: 0;
}
.demo-container.table .dx-toolbar-after .dx-toolbar-item:first-child,
.containerControls2.table .dx-toolbar-after .dx-toolbar-item:first-child {
    width: 100%;
    padding: 0 10px;
}
.demo-container.table .dx-toolbar .dx-toolbar-after,
.containerControls2.table .dx-toolbar .dx-toolbar-after {
	width: 100%;
}
.demo-container.table .dx-datagrid-header-panel,
.containerControls2.table .dx-datagrid-header-panel {
	padding: none;
}
.demo-container.table .dx-texteditor.dx-editor-underlined::after,
.containerControls2.table .dx-texteditor.dx-editor-underlined::after {
	border: none;
}
.dx-menu-horizontal{
    position: relative;
}
.dx-datagrid .dx-icon-filter-operation-default::before{
    font-family: 'fontello';
}

.menu .dx-datagrid .dx-icon-filter-operation-default::before{
    position: absolute;
    left: 220px;
    top: 0;
}
.menu #gridContainer .dx-row-lines td{
    text-align: right;
    width: 80%;
    margin: 5px 0 5px 10%;
    float: left;
    border: 1px solid var(--menuGrey);
    background-color: var(--lightGrey);
    padding: 8px 20px 5px 0;
    -moz-box-shadow: -1px 2px 5px var(--shadow);
    -webkit-box-shadow:-1px 2px 5px var(--shadow);
    box-shadow: -1px 2px 5px var(--shadow);
}
.menu #gridContainer .dx-row-lines td a.dx-list-group-header{
    color: var(--buttonBack) !important;
    padding: 0;
    font-size: 14px;
    cursor: pointer;
}
.menu #gridContainer .dx-row-lines td a.dx-list-group-header.active, 
.menu #gridContainer .dx-row-lines td a.dx-list-group-header:active,
.menu #gridContainer .dx-row-lines td a.dx-list-group-header:hover,
.menu #gridContainer .dx-row-lines:first-child td a
{
    color: var(--blue) !important;
    font-weight: 700;
}
.containerControlsInternalButtonControl {
    margin: 2px 8px 0;
    float: left;
    background: var(--buttonBack);
    color: var(--buttonColor);
    font-size: 15px;
    border: none !important;
    cursor: hand;
    cursor: pointer;
    display: inline;
    border-radius: 4px;
    padding: 3px 28px 7px;
    box-sizing: border-box;
    -moz-box-shadow: 0px 2px 5px var(--shadow);
    -webkit-box-shadow: 0px 2px 5px var(--shadow);
    box-shadow: 0px 2px 5px var(--shadow);
}
#DivAllBoxes{
    width: 100% !important;
    margin-top: 80px;
    float: left;
}
.DivAllBoxes_Title, .DivAllBoxesVisual2_Title{
	background: var(--blue);
	text-align: left;
    color: var(--white);
    padding: 10px 11px 7px 11px;
    height: 30px;
    box-sizing: border-box;
    float: left;
    font-size: 14.5px;
    border: none;
    width: 100%;;
    margin-bottom: 11px;
    font-weight: normal !important;
    font-family: 'Montserrat', sans-serif !important;
}
.DivAllBoxes_Box{
    margin: 13px 20px 13px 0;
    width: 135px;
    height: 140px;
}
.DivAllBoxesVisual2_Box{
    width: 60px;
    height: 90px;
}
.DivAllBoxes_Box, .DivAllBoxesVisual2_Box {
    display: inline-block !important;
    border: none;
	color: var(--grey);
	-moz-box-shadow: 1px 0 5px var(--shadow);
    -webkit-box-shadow: 1px 0 5px var(--shadow);
    box-shadow: 1px 0 5px var(--shadow);
}
.DivAllBoxes_Position,
.DivAllBoxes_Angle,
.DivAllBoxesVisual2_Position,
.DivAllBoxesVisual2_Angle{    
    float: right;
    margin-right: 5px;
    height: auto;
    font-size: 15.68px;
}
.DivAllBoxesVisual2_Position,
.DivAllBoxesVisual2_Angle{
    width: 100%;
}
.DivAllBoxes_Position,
.DivAllBoxes_Angle{
    width: 40px;
}

.DivAllBoxes_blind{
    margin-left: 10px;
    width: 75px;
    height: 90px;
    float: left;
    background-repeat: no-repeat;
    background-size: contain;
}
.blindPosition0, .blindPositionnull{
    background-image: url("../images/0.png");
}
.blindPosition1, .blindPosition2, .blindPosition3, .blindPosition4{
    background-image: url("../images/1.png");
}
.blindPosition5, .blindPosition6, .blindPosition7, .blindPosition8{
    background-image: url("../images/2.png");
}
.blindPosition9, .blindPosition10, .blindPosition11, .blindPosition12, .blindPosition13{
    background-image: url("../images/3.png");
}
.blindPosition14, .blindPosition15, .blindPosition16, .blindPosition17{
    background-image: url("../images/4.png");
}
.blindPosition18, .blindPosition19, .blindPosition20, .blindPosition21, .blindPosition22{
    background-image: url("../images/5.png");
}
.blindPosition23, .blindPosition24, .blindPosition25, .blindPosition26{
    background-image: url("../images/6.png");
}
.blindPosition27, .blindPosition28, .blindPosition29, .blindPosition30, .blindPosition31{
    background-image: url("../images/7.png");
}
.blindPosition32, .blindPosition33, .blindPosition34, .blindPosition35{
    background-image: url("../images/8.png");
}
.blindPosition36, .blindPosition37, .blindPosition38, .blindPosition39, .blindPosition40{
    background-image: url("../images/9.png");
}
.blindPosition41, .blindPosition42, .blindPosition43, .blindPosition44{
    background-image: url("../images/10.png");
}
.blindPosition45, .blindPosition46, .blindPosition47, .blindPosition48, .blindPosition49{
    background-image: url("../images/11.png");
}
.blindPosition50, .blindPosition51, .blindPosition52, .blindPosition53{
    background-image: url("../images/12.png");
}
.blindPosition54, .blindPosition55, .blindPosition56, .blindPosition57, .blindPosition58{
    background-image: url("../images/13.png");
}
.blindPosition59, .blindPosition60, .blindPosition61, .blindPosition62{
    background-image: url("../images/14.png");
}
.blindPosition63, .blindPosition64, .blindPosition65, .blindPosition66, .blindPosition67{
    background-image: url("../images/15.png");
}
.blindPosition68, .blindPosition68, .blindPosition70, .blindPosition71{
    background-image: url("../images/16.png");
}
.blindPosition72, .blindPosition73, .blindPosition74, .blindPosition75, .blindPosition76{
    background-image: url("../images/17.png");
}
.blindPosition77, .blindPosition78, .blindPosition79, .blindPosition80{
    background-image: url("../images/18.png");
}
.blindPosition81, .blindPosition82, .blindPosition83, .blindPosition84, .blindPosition85{
    background-image: url("../images/19.png");
}
.blindPosition86, .blindPosition87, .blindPosition88, .blindPosition89{
    background-image: url("../images/20.png");
}
.blindPosition90, .blindPosition91, .blindPosition92, .blindPosition93, .blindPosition94{
    background-image: url("../images/21.png");
}
.blindPosition95, .blindPosition96, .blindPosition97, .blindPosition98, .blindPosition99{
    background-image: url("../images/22.png");
}
.blindPosition100{
    background-image: url("../images/23.png");
}
#header{
    background: url("../images/header.png") repeat-x;
    float: left;
    width: 100%;
    height: 50px;
    /*width: 1080px;*/
}
#footer{
    background: url("../images/footer.png") no-repeat center top;
    width: 100%;
    float: left;
    padding-top: 30px;
    height: 110px;
    box-sizing: border-box;
    background-size: cover;
}
.logoOfek{
    float: right;
}
.logoSkycon{
    float: right;
    margin-left: 20px;
}
.logoArbicom{
    float: left;
}
.copy{
    color: var(--white);
    width: auto;
    margin: auto;
    display: table;
}

/*border-color: var(--blue)*/
input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:17px;
    height:17px;
    margin:-1px 3px 0 7px;
    vertical-align:middle;
    background:url("../images/checkboxes.png") left top no-repeat;
    cursor:pointer;
}
input[type="checkbox"]:checked + label span {
    background:url("../images/checkboxes.png") -17px top no-repeat;
}
#Ifrm{
    border: none;
    margin-top: 30px;
}
.IfrmL2{
    height: 560px;
    margin-top: 0;
    margin-left: 0;
    width: 100%;
}
.modal-content {
    border-top: 17px solid var(--blue);
    padding: 35px 0 0;
    box-sizing: border-box;
}
.iframeBody{
    padding: 0 20px;
}
.close {
    position: absolute;
    top: 60px;
    right: 40px;
    font-weight: normal;
    color: #777a7c;
    font-family: 'Montserrat', sans-serif;
}
#chart {
    width: 470px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;

}
.chart-content{
    width: 440px;
    height: 270px;
    float: left;
    background-color: #fff;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 5px var(--shadow);
    -webkit-box-shadow: 0px 0px 5px var(--shadow);
    box-shadow: 0 0 5px var(--shadow);
    overflow: hidden;
}

.actionButtonsContent{
    border-radius: 4px;
    -moz-box-shadow: -1px 2px 5px var(--shadow);
    -webkit-box-shadow: -1px 2px 5px var(--shadow);
    box-shadow: -1px 2px 5px var(--shadow);
    height: auto;
    /*width: 240px;*/
    width: 158px;
    background-color: var(--menuwhite);
    padding: 8px 0 10px;
    float: left;
    margin-left: 22px;
    font-family: 'Montserrat', sans-serif;
}
.actionButtonsContent input{
    width: 80%;
    margin: 5px 0 5px 10%;
    float: left;
    border: 1px solid var(--menuGrey);
    background-color: var(--lightGrey);
    text-align: left;
    padding: 0px 5px 0px 9px;
    font-size: 12px;
    line-height: 30px;
    -moz-box-shadow: -1px 2px 5px var(--shadow);
    -webkit-box-shadow: -1px 2px 5px var(--shadow);
    box-shadow: -1px 2px 5px var(--shadow);
    color: var(--buttonBack) !important;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
}
.actionButtonsContent input:hover{
    color: var(--blue) !important;
    font-weight: 700;
}
.blindDetail{
    width: 440px;
    height: 541px;
    background-color: var(--menuwhite);
    -moz-box-shadow: -1px 2px 5px var(--shadow);
    -webkit-box-shadow: -1px 2px 5px var(--shadow);
    box-shadow: -1px 2px 5px var(--shadow);
    position: absolute;
}
#blindDetailTitle{
    text-align: left;
    height: 80px;
    width: 100%;
    float: left;
    background-color: var(--blue);
    color: var(--menuWhite);
    font-size: 27px;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    padding: 40px 40px 0 30px;
}
#blindDetailContent{
    width: 90%;
    float: left;
    height: 420px;
    padding: 20px;
    box-sizing: border-box;
    margin: 20px 5% 20px 5%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#blindDetailTitle.Error::after {
    /*font-family: 'fontello';
    content: '\e894';
    color: #fff;
    float: right;
    margin-right: -6px;*/
}
#blindDetailTitle.Error {
    /*background-color: var(--red);*/
}
.DivAllBoxes_Title.Error, #blindDetailTitle.Error {
    background-color: var(--red);
}
.DivAllBoxes_Title.Error:after, #blindDetailTitle.Error::after{
    font-family: 'fontello';
    content: '\e894';
    color: #fff;
    float: right;
    margin-right: -6px;
}
.MainContainerControls{
    width: 100%;
    padding-right: 0;
    border: none;
}
.containerControls {
    display: inline-block;
    margin-bottom: 1%;
    width: 98%;
    padding: 20px;
    box-sizing: border-box;
    background-color: var(--menuwhite);
    -moz-box-shadow: -1px 2px 5px var(--shadow);
    -webkit-box-shadow: -1px 2px 5px var(--shadow);
    box-shadow: -1px 2px 5px var(--shadow);
    border: none;
    margin-right: 0;
}
.containerControls .containerControlsInternalButtonControl{
    float: right;
}
.containerControlsDivLableCaption, .containerControlsInternalLableControl{
    display: none;
}
.containerControlsInternal {
    margin: 0;
    border: none;
    height: auto;
    width: 100%;
}
.containerControls .containerControlsInternalButtonControl {
    margin: 10px 5px 0;
}
.containerControls .containerControlsInternalTextControl {
    margin: 5px;
    width: 375px;
    float: right;
    border: none;
    height: 25px;
    -moz-box-shadow: -1px 2px 5px var(--shadow);
    -webkit-box-shadow: -1px 2px 5px var(--shadow);
    box-shadow: -1px 2px 5px var(--shadow);
    border-radius: 5px;
    padding-right: 5px;
}
#TXTRulesFldDisplayName2{
    color: var(--blue);
    text-shadow: #999 1px 1px;
}
/*Internal Menu*/
.internalMenu{
    -moz-box-shadow: -1px 2px 5px var(--shadow);
    -webkit-box-shadow: -1px 2px 5px var(--shadow);
    box-shadow: -1px 2px 5px var(--shadow);
    background-color: var(--menuwhite);
    float: right;
    margin: 0 12px 0 0;
    border-radius: 5px;
}
.internalMenu ul {
    margin: 0;
    padding: 0;
}
.internalMenu li{
    padding: 5px 15px;
    height: 25px;
    float: right;
    display: inline-block;
    box-sizing: border-box;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
    font-family: 'Myriad Hebrew', sans-serif !important;
    color: var(--grey) !important;
    cursor: pointer;
}
.internalMenu li:hover, .internalMenu li.active{
    color: var(--menuActive) !important;
}
/*Mac Hacks*/
.mac-os #cssmenu > ul li:nth-child(2) a{
    width: 169px;
}
.mac-os .buttonsBar{
    padding-left: 22px;
}
:root {
  --blue: #0085cf;
  --white: #fefbfb;
  --menuwhite: #f9f9f9;
  --grey: #a2a1a1;
  --lightGrey: #ebebeb;
  --menuGrey: #cfcfcf;
  --shadow: #888;
  --menuWhite: #f9f9f9;
  --menuActive: #0074b5;
  --buttonBack: #7d7d7d;
  --buttonColor: #fefbfb;
  --red: #d70707;
}